<%- include("templates/header") %> 
<button onclick="window.location.href='/createUser'">Sign Up</button>
<button onclick="window.location.href='/login'">Log In</button>
<%- include("templates/footer") %> 
