<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Hello <%= userName %>!</h1>

  <h2>Your Todos:</h2>
  <ul>
    <% todos.forEach(function(todo) { %>
      <li><%= todo.title %> <%= todo.description %> <%= todo.completed %></li>
    <% }); %>
  </ul>

  <% if (!isAdmin) { %>
    <h2>Add a New Todo</h2>
    <form action="/todo" method="POST">
      <input type="text" name="todo">
      <button type="submit">Add</button>
    </form>
  <% } %>
</body>
</html>
