<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Hello <%= userEmail %>!</h1>

  <h2>Your Todos:</h2>
  <ul>
    <% todos.forEach(function(todo) { %>
      <li><%= todo.title %>: <%= todo.description %> (completed: <%= todo.completed %>)</li>
    <% }); %>
  </ul>

  <h2>Create a New Todo:</h2>
  <form method="POST" action="/todo">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Add Todo">
  </form>
</body>
</html>
